@import '../../assets/css/variables';

.loading-screen {
  background-image: url(../../assets/icons/loading.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: $white;
}